header {
    margin: 0;
    background: linear-gradient(to top, skyblue, rgb(138, 138, 255));
    color: aliceblue;
    margin-bottom: 5px;
    position: relative;
    z-index: 1;
    padding: 30px;
}
nav a {
    margin-right: 100px;
    border: 2px red;
    font-size: 48px;
}

body {
    position: relative;
    margin: 10px;
    margin-top: 0;
    padding: 0;
    color: white;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
    z-index: -1;
}
footer{
    text-align: center;
}